<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this Notebook, Data Science and Ecosystem are summarized.

Some of the Popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists
1. NumPY
2. SciPy
3. Matplotlib
4. TensorFLow
5. Pytorch
6. Keras

|#Data SCience Tools|
|------------------------|
|MySQL|
|PostgreSQL|
|MongoDB|
|Apache Couch DB|
|Hadoop FIle System|

### Below are few examples of evaluating arithmetic expression in Pyhton.

In [3]:
## This is a simple arithmetic expression  to multiply then add integers.
(3*4)+5

17

In [4]:
## This will convert 200 minutes to hours by dividing 60.
200/60

3.3333333333333335

**Objectives:**
- Python
- C++
- SQL
- Java 
- Scala
- Julila

## Author:
Masroor Sarwar